body {
  background-color: black;
  color: white;
}

.content-wrapper {
  @include clearfix;
  @include outer-container;
}

.section {
  padding-top: 3em;
  padding-bottom: 2em;
}

// .content {
//   @include outer-container;
// }
