.hero {
  margin-top: 60px;
  align-items: center;
  background: image_url("assets/images/hero-image.png");
  background-position: right;
  background-size: none;
  display: flex;
  justify-content: center;
  min-height: 25em;
  padding: 2em;

  @include media($large-screen) {
    background-size: cover;
    background-position: left;
    justify-content: flex-end;
  }

  .hero-wrapper {
    @include clearfix;
    @include outer-container();
    position: relative;
    width: 100%;
  }

  .hero-content {
    max-width: 80%;
    margin: auto;
    text-align: center;
    color: white;

    .hero-text {
      font-family: $base-font-family;
    }

    .hero-btns {
      @include span-columns(8);
      @include shift(2);
      margin-top: 1em;

      .hero-btn {
        @include padding(1.3em);
        @include margin(0.5em);
        color: white;
        font-size: 1.2em;
        text-transform: uppercase;
        display: inline-block;
        max-width: 10em;

        &#mailchimp-btn {
          background: $green;

          &:hover, &:focus {
            background: lighten($green, 10%);
          }
        }

        &#contact-btn {
          background: $blue;

          &:hover, &:focus {
            background: lighten($blue, 10%);
          }
        }
      }
    }
  }
}

.section {
  padding-top: 5em;
  padding-bottom: 5em;
  width: 100%;
  @include padding(null 1em null 1em);

  &#about {
    background-color: $orange;
    color: white;
  }

  &#events {
    background-color: white;
  }

  &#contact {
    background-color: $green;
    color: white;
  }

  .section-wrapper {
    @include outer-container();
  }

  .section-title {
    text-align: center;
  }

  .section-text {
    font-size: 1.4em;
  }

  .section-wrapper .grid-item-lines {
    @include clearfix;
    text-align: center;

    .event-box {
      display: inline-block;
      outline: none;
      overflow: hidden;
      text-decoration: none;
      @include padding(1em 2em 1.5em 1.5em);
      color: white;
      transition: all 0.2s ease-in-out;
      width: 75%;

      @include media($medium-screen) {
        display: inline-block;
        width: 30%;
        @include margin(1em 2em null 2em);
      }

      background: $dark-gray;

      &:focus, &:hover {
        background: transparentize($dark-gray, 0.3);
      }

      img {
        display: block;
        width: 80%;
        margin: 1em auto;
      }
    }
  }

  .contact-form {
    @include media($medium-screen) {
      @include span-columns(8);
      @include shift(2);
    }

    #contact-form {
      color: $dark-gray;

      input[type="submit"] {
        background: $dark-gray;

        &:hover, &:focus {
          background: lighten($dark-gray, 10%);
        }
      }
    }
  }
}
