.navigation {
  // Variables
  $nav-height: 60px;
  $nav-padding: 1em;
  $nav-bg: white;
  $nav-color: transparentize($dark-gray, 0.3);
  $nav-color-hover: $dark-gray;
  $nav-active-link-color: transparentize($dark-gray, 0.5);

  background-color: $nav-bg;
  border-bottom: 1px solid darken($nav-bg, 10);
  min-height: $nav-height;
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: -0px;

  // Mobile view
  .navigation-menu-button {
    color: $nav-color;
    display: block;
    float: right;
    line-height: $nav-height;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase;

    &:focus,
    &:hover {
      color: $nav-color-hover;
    }

    @include media ($medium-screen) {
      display: none;
    }
  }

  // Nav menu
  .navigation-wrapper {
    @include clearfix;
    @include outer-container();
    position: relative;
  }

  .logo {
    float: left;
    max-height: $nav-height;
    padding-left: $nav-padding;
    padding-right: 2em;

    @include media($medium-screen) {
      float: none;
      text-align: center;
      display: block;
    }

    @include media($large-screen) {
      float: left;
    }

    img {
      max-height: $nav-height;
      padding-right: 0.8em 0;
    }
  }

  nav {
    float: none;
    min-height: $nav-height;

    @include media($medium-screen) {
      float: right;
      text-align: center;
      line-height: 1.5em;
      padding-top: 0.3em;
    }
  }

  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;

    @include media($medium-screen) {
      display: inline;
      margin: 0;
      padding: 0;
    }

    &.show {
      display: block;
    }
  }

  // Nav items
  ul li.nav-link {
    background: $nav-bg;
    display: block;
    line-height: $nav-height;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    width: 100%;

    @include media($medium-screen) {
      background: transparent;
      display: inline;
      line-height: $nav-height;
      text-decoration: none;
      width: auto;
    }
  }

  li.nav-link a {
    display: inline-block;
    color: $nav-color;
    text-decoration: none;

    @include media($large-screen) {
      padding-right: 1em;
    }

    &:focus,
    &:hover {
      color: $nav-color-hover;
    }
  }
}
