.footer {

  $base-spacing: 1em;

  padding: $base-spacing;
  padding-bottom: 0px;
  padding-top: 2em;
  width: 100%;
  display: inline-block;
  background-color: white;
  color: $dark-gray;
  line-height: 1em;

  .footer-wrapper {
    @include clearfix;
    @include outer-container;

    .footer-logo {
      margin-right: 1em;
      margin-bottom: 1em;
      position: relative;
      top: -1em;

      @include media($large-screen) {
        float: left;
        margin-bottom: 0px;
      }

      img {
        height: 3em;
      }
    }

    .copyright {
      float: left;
    }

    .attribution {
      font-size: 0.8em;
      float: right;
    }
  }
}