%footer.footer{role: "contentinfo"}
  .footer-wrapper
    .copy &copy; 2016 Hackathonukah, LLC
    .footer-secondary
      %ul.footer-social
        %li
          %a{href: "https://twitter.com/Hackathonukah"}
            %i.fa.fa-twitter.fa-lg
        %li
          %a{href: "https://www.facebook.com/Hackathonukah"}
            %i.fa.fa-facebook.fa-lg
