%header.navigation{role: "banner"}
  .navigation-wrapper
    %a.logo{href: "#"}
      %img{src: "/assets/images/logo.png", alt: "Hackathonukah"}
    %a.navigation-menu-button#js-mobile-menu{href: "javascript:void(0)"} Menu
    %nav{role: "navigation"}
      %ul.navigation-menu.show#js-navigation-menu
        %li.nav-link
          %a{href: "#about"} About
        %li.nav-link
          %a{href: "#events"} Events
        %li.nav-link
          %a{href: "#contact"} Contact Us
