---

---

.coming-soon
  .container
    img#logo src="/assets/images/hackover_passover_logo.png" alt="Hackover
    Passover"
    h1
      | Sunday April 17th, 2016
      br<>
      | NYCDA / New York, NY
    br
    p
      a.btn#mailing-list-btn href="https://hackoverpassover.splashthat.com/"
        | Find Out More &
        br<>
        | Register Today!
    p.last-year
      | (Click
      a<> href="/2014" here
      | to see the Hackathonukah 2014 site)
