/* line 4, /home/oren/code/hackathonukah/hackathonukah.github.io/source/assets/stylesheets/parallax.scss */
.parallax-window {
  max-height: 40em;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%; }

/* line 12, /home/oren/code/hackathonukah/hackathonukah.github.io/source/assets/stylesheets/parallax.scss */
.parallax-static-content {
  padding: 8em 0;
  position: relative;
  z-index: 9; }

/* line 18, /home/oren/code/hackathonukah/hackathonukah.github.io/source/assets/stylesheets/parallax.scss */
.parallax-background {
  background: url("/assets/images/menorah.jpg") repeat;
  background-position: top;
  background-size: cover;
  background-color: beige;
  height: 80em;
  left: 0;
  position: absolute;
  top: -13.33333em;
  width: 100%; }
