---
title: Hackathonukah // We don't hack on Shabbos
---

.hero
  .hero-wrapper
    .hero-content
      %h1.hero-text Hackathonukah creates opportunities for technology-minded people to learn new skills in a collaborative, engaging, and overwhelmingly-themed social environment.

.section#about
  .section-wrapper
    -# %h1.section-title About Us
    %h1.section-title We're two brothers who couldn't go to hackathons on Saturdays. <br />Now we organize them, plain and simple.
    %p.section-text Hackathonukah was 

.section#events
  .section-wrapper
    %h1.section-title Our Events
    .grid-item-lines
      %a.event-box#hackathonukah2014{href: "2014"}
        %img{src: "/assets/images/hackathonukah2014.png", alt: "Hackathonukah 2014"}
        %p December 13-14, 2014
      %a.event-box#hackoverpassover2016{href: "https://hackoverpassover.splashthat.com/"}
        %img{src: "/assets/images/hopo2016.png", alt: "Hack Over Passover 2016"}
        %p April 17, 2016

.section#contact
  .section-wrapper
    %h1.section-title Contact Us

