---
title: Hackathonukah // We don't hack on Shabbos
---

.hero
  .hero-wrapper
    .hero-content
      %h1.hero-text Hackathonukah creates themed opportunities for tech-minded people to learn new skills in a fun, collaborative, and engaging environment.
      .hero-btns
        %a.hero-btn#mailchimp-btn{href: "http://eepurl.com/40ReD"} Sign up for updates
        %a.hero-btn#contact-btn{href: "#contact"} Contact us for more info

.section#about
  .section-wrapper
    -# %h1.section-title About Us
    %h1.section-title We're two brothers who couldn't go to hackathons on Saturdays. <br />Now we organize them, plain and simple.
    %p.section-text Hackathonukah was born when Donny and Oren Kanner decided to "solve their own problem," namely, the lack of Sabbath-observer-friendly hackathons, despite having basically no idea of what they were doing. Somehow it all worked out, and in the process they discovered a passion for creating friendly and open events accessible to people of all backgrounds and all technical skill levels. Hackathonukah is committed to producing fun and thematically-heavy technology events in the NYC tristate area and beyond.

.section#events
  .section-wrapper
    %h1.section-title Here is an artisanally-crafted selection of our past events.
    .grid-item-lines
      %a.event-box#hackathonukah2014{href: "2014"}
        %img{src: "/assets/images/hackathonukah2014.png", alt: "Hackathonukah 2014"}
        %p December 13-14, 2014
      %a.event-box#hackoverpassover2016{href: "https://hackoverpassover.splashthat.com/"}
        %img{src: "/assets/images/hopo2016.png", alt: "Hack Over Passover 2016"}
        %p April 17, 2016

.section#contact
  .section-wrapper
    %h1.section-title Ask a question, give a suggestion, or just say hello.
    .contact-form
      %form{action: "https://formspree.io/hackathonukah@gmail.com", method: "POST", id: "contact-form"}
        %input{type: "hidden", name: "_subject", value: "Contact Form Submission"}
        %input{type: "text", name: "_gotcha", style: "display: none;"}
        %input{type: "text", name: "name", placeholder: "Your Name", required: true}
        %input{type: "text", name: "_replyto", placeholder: "Your E-mail", required: true}
        %textarea{name: "message", cols: "30", rows: "6", placeholder: "Your message goes here, bonus points if you include a pun!", required: true}
        %input{type: "submit", value: "Send"}
